<h1 class='order-h1'>Mis órdenes</h1>

<table class="order-table table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nº</th>
      <th scope="col">Libro</th>
      <th scope="col">Precio</th>
      <th scope="col">Inicio de reserva</th>
      <th scope="col">Fin de reserva</th>
    </tr>
  </thead>
  <tbody>
    
    <% @orders.each_with_index do |order, index| %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= 'Harry Potter' %></td>
      <td>234.58</td>
      <td><%= order.start_date %></td>
      <td><%= order.end_date %></td>
    </tr>
   <% end %>
  </tbody>
</table>