<div class="barra-superior">
    <div class="container-home">
        <h1>Hi, welcome to <strong>Chihuan's Library</strong></h1>
        <h2>Adquiere los mejores libros a los mejores precios!</h2>
        <a href="/books" target="_blank">Adquierelo ya!</a>
    </div>
</div>

<div class="container-cards-home">
    <div class="card-home">
    <div class="py-3">
    <img src="https://images.unsplash.com/photo-1471970471555-19d4b113e9ed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Ym9va3N8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60" alt="imagen de libro,El Alquimista"width = "200px" height = "140px">
   </div>
        <h2>Lo más vendidos
            <div id="category-1" class="text-center">
                <a href="#" target="_blank">

                </a>
            </div>
            </i>
</h2>
        <p>Encuentra los libros más vendidos en la ultima decada.</p>
    </div>
    <div class="card-home">
     <div class="py-3">
    <img src="https://images.unsplash.com/photo-1517596107285-5ce3dd0f61df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJvb2tzfGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=400&q=60" alt="imagen de libro,El Alquimista"width = "200px" height = "140px">
   </div>
        <h2>Novedades
            <div id="category-2" class="text-center">
                <a href="#" target="_blank">

                </a>
            </div>
</h2>
        <p>Chihuan's library trae semanalamente nuevos ingresos para los lectores</p>
    </div>
    <div class="card-home">
     <div class="py-3">
    <img src="https://images.unsplash.com/photo-1499719247078-7607391e1909?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGJvb2tzfGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=400&q=60" alt="imagen de libro,El Alquimista"width = "200px" height = "140px">
   </div>
        <h2>Libro del mes
            <div id="category-3" class="text-center">
                <a href="#" target="_blank">

                </a>
            </div>
</h2>
        <p>Este es libro del mes,elegido por nuestros lectores.</p>
    </div>
</div>

<h3 class="text-center">Síguenos en todas nuestras redes sociales!</h3>

<div class="text-center">
  <ul class="container-redes-sociales-pages">
    <li class="iconos-redes">
        <a href="#" target="_blank">
            <i class="fab fa-facebook">
            </i>
        </a>
    </li>
    <li class="iconos-redes">
        <a href="#" target="_blank">
            <i class="fab fa-instagram">
            </i>
        </a>
    </li>
    <li class="iconos-redes">
        <a href="#" target="_blank">
            <i class="fab fa-github">
            </i>
        </a>
    </li>
    </ul>
</div>
