<div class="barra-superior">
    <div class="container">
        <h1>Hi, welcome to <strong>Chinuan's Library</strong></h1>
        <h2>Adquiere los mejores libros a los mejores precios!</h2>
        <a id="btn" href="#" target="_blank">Adquierelo ya!</a>
    </div>
</div>
<div class="container-cards">
    <div class="card">
        <h2>Category 1
            <div id="category-1">
                <a href="#" target="_blank">
                    <i class="fas fa-bible">
                    </i>
                </a>
            </div>
            </i>
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, dignissimos minima laboriosam illo nobis veniam quisquam voluptatibus velit.</p>
    </div>
    <div class="card">
        <h2>Category 2
            <div id="category-2">
                <a href="#" target="_blank">
                    <i class="fas fa-atlas">
                    </i>
                </a>
            </div>
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, dignissimos minima laboriosam illo nobis veniam quisquam voluptatibus velit.</p>
    </div>
    <div class="card">
        <h2>Category 3
            <div id="category-3">
                <a href="#" target="_blank">
                    <i class="fas fa-book-dead">
                    </i>
                </a>
            </div>
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, dignissimos minima laboriosam illo nobis veniam quisquam voluptatibus velit.</p>
    </div>
</div>
<h3>Síguenos en todas nuestras redes sociales!</h3>
    <ul>
    <li class="iconos-redes">
        <a href="#" target="_blank">
            <i class="fab fa-facebook">
            </i>
        </a>
    </li>
    <li class="iconos-redes">
        <a href="#" target="_blank">
            <i class="fab fa-instagram">
            </i>
        </a>
    </li>
    <li class="iconos-redes">
        <a href="#" target="_blank">
            <i class="fab fa-github">
            </i>
        </a>
    </li>
    </ul>
</div>
