<div class="barra-superior">
    <div class="container-home">
        <h1>Bienvenidos a <strong>Chinuan's Library</strong></h1>
        <h2>¡Alquila los mejores libros a los mejores precios!</h2>
        <a href="/books" target="_blank">Reservar unlock</a>
    </div>
</div>

<div class="container-cards-home">
    <div class="card-home">
        <h2>Category 1
            <div id="category-1" class="text-center">
                <a href="#" target="_blank">
                    <i class="fas fa-bible"></i>
                </a>
            </div>
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, dignissimos minima laboriosam illo nobis veniam quisquam voluptatibus velit.</p>
    </div>
    <div class="card-home">
        <h2>Category 2
            <div id="category-2" class="text-center">
                <a href="#" target="_blank">
                    <i class="fas fa-atlas"></i>
                </a>
            </div>
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, dignissimos minima laboriosam illo nobis veniam quisquam voluptatibus velit.</p>
    </div>
    <div class="card-home">
        <h2>Category 3
            <div id="category-3" class="text-center">
                <a href="#" target="_blank">
                    <i class="fas fa-book-dead"></i>
                </a>
            </div>
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, dignissimos minima laboriosam illo nobis veniam quisquam voluptatibus velit.</p>
    </div>
</div>

<h3 class="text-center">Síguenos en todas nuestras redes sociales!</h3>

<div class="text-center">
  <ul class="container-redes-sociales-pages">
    <li class="iconos-redes">
        <a href="#" target="_blank">
            <i class="fab fa-facebook"></i>
        </a>
    </li>
    <li class="iconos-redes">
        <a href="#" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
    </li>
    <li class="iconos-redes">
        <a href="#" target="_blank">
            <i class="fab fa-github"></i>
        </a>
    </li>
  </ul>
</div>
