.book-container {
    margin: 50px 100px;
}

.btn {
    margin: 3px;
}

.btn-success {
    color: green;
    background-color: white;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn-danger {
    color: red;
    background-color: white;
    border: none;
    position: absolute;
    top: 50px;
    right: 10px;
}

.card {
    position: relative;
    padding-bottom: 20px;
}

.reservar {
    position: absolute;
    top: 10px;
    right: 10px;
}

.reservar:hover {
    background-color: black;
    color: white;
}

.below {
    display: flex;
    justify-content: flex-end;
}

.book-title {
    text-decoration: none;
    font-weight: bold;
}

.author-book-label, .author-name {
    margin-top: 10px;
    padding: 0px;
}
.author-name {
    font-size: 16px;
    padding-left: 10px;
}

.price-book {
    position: absolute;
    right: 15px;
}

.title-section {
    font-size: 20px;
}