.book-h1 {
    text-align: center;
    margin-top: 50px;
}

.book-form {
    padding: 0px 200px;
    margin-bottom: 50px;
}

.book-back {
    display: block;
    text-align: right;
    margin-right: 200px;
}